$navbar-default-bg: rgb(17, 170, 227);
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
    color:white;
    float:left;
    text-transform:uppercase;
    font-weight:bold;
}

.center{
    text-align: center;
}

.jumbotron{
    background-image: asset-url('BY.jpg');
    background-size: cover;
    height: 600px;
}

.jumbotron h1{
    color: white;
    margin-bottom: 30px;
}

.btn-xlarge{
    font-size: 2em;
    background-color: rgb(17, 170, 227);
}

.footer {
    word-spacing: 10px;
    border-top: 1px solid rgb(195, 176, 145);
    color: rgb(195, 176, 145);
}

.footer ul{
    float: right;
    list-style: none;
}

.footer li{
    float: left;
}

.link{
    font-size: 1.4em;
}

.article-actions{
    border-top: 2px solid rgb(103, 166, 224);
    padding-top: 5px;
}

.description{
    margin-top:0;
}