*{
  margin: 0;
  padding: 0;
}
h1{
  color: rgb(154, 86, 210);
  margin-bottom: 10px;
  text-align: center;
}
h2{
  color: rgb(190, 150, 101);
  margin-bottom: 10px;
  text-align: center;
}

.container{
  margin-top: 20px;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  float:left;
}

.container img{
  width: 50%;
  height: auto;
}

.blog_post{
  float:left;
  color: rgba(244, 85, 175, 0.81);
  width: 100%
}

.otherPost{
  border-left: 2px solid brown;
  height: 100%;
  width: 25%;
  float: left;
  color: rgb(41, 151, 154);
}

.clearfix:after{
  content: "";
  display: table;
  clear:both;
}

.author_info{
  padding-top: 20px;
  border-top: 2px solid brown;
  float: left;
  width: 70%;
  color: rgb(37, 164, 250);
  margin-left: auto;
  margin-right: auto;
}
